# Preferred redirect when the Vassar server supports Apache rules.
Redirect 301 /faculty/bh/bh.htm https://benho.org/academic/
Redirect 301 /faculty/bh/cv-bho.pdf https://benho.org/academic/files/cv-bho.pdf
